/*The style for my header, very top of my page*/
h2 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Below is where you can find my background, set it up so the image covers the whole page*/
body {
    color: #337AB7;
    background-image: url('9044185676_b62d3d0d86_b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 5px solid gray;
}

/*Style for my main header, I separated the style for <h2> because I wanted it larger than normal and under different font-family*/
.mainHeader {
    text-align: center;
    border: 5px solid gray;
    background-color: rgba(192,192,192,0.6);
    margin: 10px;
}

/*Here's for my Navbar*/
#navbar-primary {
    color: #337AB7;
    font-weight: bolder;
}

/*For my thumbnail, I want to make sure that the contents are readable*/
.thumbnail {
    color: black;
    background-color: rgba(192,192,192,0.6);
    border: 2px solid gray;
}
/*I created border on my footer page*/


.footer {
    border: 2px solid black;
}

/*I resized the height and width of my logo on my footer*/

#dunLogo {
    height: 10%;
    width: 10%;
}
#myCarousel{
    height:50%;
    width: 90%;
}
